<!DOCTYPE html>
<html>
    <head>
       
              <link rel = "stylesheet" href="../css/css.css">
          
       
    </head>
      <body>
          <div class="topnav">
              
              <a  href ="https://github.com/caesarbonicillo/MeanStack-Actual" target="_blank">Github</a>
              <a  href="app.html">App</a>
              <a  href="stack.html">stack</a>
              <a  class="active" href="index.html">Home</a>
              
            </div>
            <h1>Our wonderfull website, we can put here more info if you guys have any idea?</h1>
            <div id="client_Info">
              <form name='add' action="/add" method="POST">
                  <input class='user_Input' type ='text' name = 'whole_name' placeholder='First'> 
                  <input class='user_Input' type ='text' name = 'last' placeholder='Lirst'> 
                  <input class='user_Input' type = 'text' name = 'phone' placeholder='Phone Number XXX-XXX-XXXX'>
                  <input class='user_Input' type ='text' name = 'email' placeholder='Email'> 
                  <input class='user_Input' type ='text' name = 'description' placeholder='Please describe job'> 
                    <button id="submit">Submit</button>
              </form>
          </div><!--end of client form--> 

          </body>
</html>
